<nav class="menu">
  <a class="menu-item {%if route == "about"%}current{%endif%}" href="/hello-cobalt/about/">booyaa</a>
  <a class="menu-item {%if route == "blog"%}current{%endif%}" href="/hello-cobalt/">blog</a>
  <a class="menu-item icon" href="http://github.com/booyaa"><i class="fa fa-github-square"></i></a>
  <a class="menu-item icon" href="http://twitter.com/booyaa"><i class="fa fa-twitter-square"></i></a>
  <a class="menu-item icon" href="/hello-cobalt/rss.xml"><i class="fa fa-rss-square"></i></a>
  <hr>
</nav>
