extends: default.liquid
---
<div >
  <h2>Blog!</h2>
  <br />
  <div>
    {% for post in posts %}
  <article>
    <h3><a href="{{ post.path }}">{{ post.title }}</a></h3>
    {{ post.content | truncatewords: 23, '...' }}
    </article>
  {% endfor %}
  </div>
</div>
